{% extends 'base.html' %}

{% block title %}About
{% endblock title %}
{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active ">
        <img src="/static/businessman.jpg"  height="450px" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block text-primary">
     <strong><h2>Learn about Abdurrab khan</h2> </strong>
    <strong><p>The company owner name is Abdurrab khan i made this company for future best production i am from India in azamagarh we are providing best services if you wanted to learn more about me click below and visit our site </p> </strong>
    <a type="button" class="btn btn-primary" href="https://alphaworld198.blogspot.com/ " target=_blank>Lean more</a>

  </div>
    </div>
  
  </div>
</div>{% endblock body %}
